name: deploy

on:
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v6
      - name: update frontend
        run: |
          npm install
          npm run build
        working-directory: js
      - name: build lambda dependencies (refresh_latest_prices)
        run: pip install -r requirements.txt --target .
        working-directory: py/functions/refresh_latest_prices
      - uses: hashicorp/setup-terraform@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          role-to-assume: arn:aws:iam::623791025140:role/fuel-forecast-cicd
          aws-region: ap-southeast-2
      - name: terraform apply
        run: |
          terraform init
          terraform apply -auto-approve
        working-directory: terraform
